{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{responseSummonerData.name}} - GoProGG</title>
    <script src="https://kit.fontawesome.com/a351244207.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="{% static 'images/gg.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <!-- Bulma Version 0.8.x-->
    <link rel='stylesheet' href='https://unpkg.com/bulma@0.8.0/css/bulma.min.css'>
    <link rel='stylesheet'
          href='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/css/OverlayScrollbars.min.css'>
    <link rel='stylesheet' href='https://kingsora.github.io/OverlayScrollbars/etc/os-theme-thin-dark.css'>
    <link rel='stylesheet' href="{% static 'css/prism.css' %}">
    <link rel="stylesheet" href="{% static 'css/cheatsheet.css' %}">
    <!--<link rel="stylesheet" href="{% static 'css/debug.css' %}">-->
</head>


<body>

<!-- .hero -->
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <!-- column left-->
                <div class="column is-5">
                    <!-- media -->
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-128x128">
                                <img class="is-rounded" src="https://ddragon.leagueoflegends.com/cdn/10.8.1/img/profileicon/{{responseSummonerData.profileIconId}}.png" alt="{{responseSummonerData.name}} - Profile">
                                <p class="has-text-centered">
                                {{ responseSummonerData.summonerLevel }}
                                </p>
                            </figure>

                        </div>
                        <div class="media-content">
                            <div class="content">
                                <h1 class="title">{{ responseSummonerData.name }}</h1>
                                <br>
                                Last active: {{matchList_data.0.lastGame}} hours ago
                                <p class="is-small">
                                    Rank # (Top %)
                                </p>

                                <!-- button -->
                                <a href="https://euw.op.gg/summoner/userName={{responseSummonerData.name}}" target="_blank"
                                   class="button is-primary">
                                    <span class="icon">
                                        <i class="fab fa-gg"></i>
                                    </span>
                                    <span>OP.GG</span>
                                </a>
                                <!-- /button -->
                            </div>
                        </div>

                    </div>
                    <!-- /media -->
                </div>
                <!-- /column left-->

                <!-- column right-->
                <div id = "bottom" class="column is-4">

                    <!-- Search Bar-->
                    <div class="container content">
                        <form method="GET">
                            <div class="field has-addons">
                                <div class="control is-expanded">
                                    <input class="input" type="text" name="q" value="{{ request.GET.q }}" placeholder="Search Summoner">
                                </div>
                                <div class="control">
                                    <button class="button is-info">
                                        Search
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /Search Bar-->

                </div>
                <!-- /column right-->

            </div>
        </div>
    </div>
</section>
<!-- /.hero -->

<!-- .section -->
<section class="section">
    <div class="container">
        <div class="columns">

            <!-- .column left -->
            <div class="column is-3">
                <aside class="is-medium menu">
                    <p class="menu-label">
                        Ranked Data
                    </p>
                    <!-- SoloQ Box-->
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-64x64">
                                    <img src="{% static 'images/Emblem_' %}{{ soloRankedData.tier }}.png" alt="{{responseSummonerData.name}} - Profile">
                                    <span>Solo Q</span>
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content is-small">
                                    <p>
                                        <h1>{{ soloRankedData.tier }} {{ soloRankedData.rank }}</h1>
                                        <br>
                                        {{ soloRankedData.leaguePoints }} LP / {{ soloRankedData.wins }}W {{ soloRankedData.losses }}L
                                        <br>
                                        Win Rate {{ soloqWR }}
                                        <br>
                                        {{ lastSoloQGame }}
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <!-- /SoloQ Box-->

                    <!-- FlexQ Box-->
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-64x64">
                                    <img src="{% static 'images/Emblem_' %}{{ flexRankedData.tier }}.png" alt="{{responseSummonerData.name}} - Profile">
                                    <span>Flex Q</span>
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content is-small">
                                    <p>
                                        <h2>{{ flexRankedData.tier }} {{ flexRankedData.rank }}</h2>
                                        <br>
                                        {{ flexRankedData.leaguePoints }} LP / {{ flexRankedData.wins }}W {{ flexRankedData.losses }}L
                                        <br>
                                        Win Rate {{ flexqWR }}
                                        <br>
                                        {{ lastFlexQGame }}
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <!-- /FlexQ Box-->

                    <p class="menu-label">
                        Summoner Stats (20 Games)
                    </p>
                    <ul class="menu-list">
                        <li><span class="tag is-white is-medium">FB Rate: {{ fbRate }}</span></li>
                        <li><span class="tag is-white is-medium">FB Give Rate: {{ fbGiveRate }}</span></li>
                        <li><span class="tag is-white is-medium">DPM Ø: {{ avgDPM }}</span></li>
                        <li><span class="tag is-white is-medium">DMG% Ø: {{ avgDmgPart }}%</span></li>
                        <li><span class="tag is-white is-medium">KP Ø: {{ avgKP }}%</span></li>
                        <li><span class="tag is-white is-medium">GD% Ø: {{ avgGoldPart }}%</span></li>
                        <li><span class="tag is-white is-medium">Oxipi</span></li>
                        <li><span class="tag is-white is-medium">Vultus</span></li>
                        <li><span class="tag is-white is-medium">Voluptatis</span></li>
                        <li><span class="tag is-white is-medium">Exomarphis</span></li>
                        <li><span class="tag is-white is-medium">Finimi</span></li>
                        <li><span class="tag is-white is-medium">Aenigma</span></li>
                        <li><span class="tag is-white is-medium">Arkham</span></li>
                        <li><span class="tag is-white is-medium">Blue</span></li>
                        <li><span class="tag is-white is-medium">Medium</span></li>
                    </ul>
                </aside>
            </div>
            <!-- /.column left -->

            <!-- .Match History -->
            <div class="column is-9">
                <div class="content is-medium">
                    <h3 class="title is-3">Recent Matches</h3>

                    <!-- for loop box -->
                    {% for match in matchList_data %}
                    <div class="box">
                        <div class="columns">
                            <!-- col 1-5-->
                            <div class="column is-5">
                                <div class="columns">
                                    <!-- col matchtype, time, result, duration-->
                                    <div class="column is-4">
                                        <div class="container">
                                            <div class="winIndicator {{match.result}}"></div>
                                            <div class="content is-small">
                                                <h3 class="resultText {{match.result}}">{{match.result}}</h3>
                                                {{ match.lastGame }} hours ago
                                                <br>
                                                {{ match.queueType }}
                                                <br>
                                                {{ match.gameDurationMin }}m {{ match.gameDurationSec }}s
                                                <br>
                                                Game ID: {{match.gameId}}
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /col matchtype, time, result, duration-->
                                    <!-- col champ pic sums keystones-->
                                    <div class="column is-4">
                                        <div class="columns is-gapless">
                                            <div class="column is-6">
                                                <div class="image is-48x48">
                                                    <img class="is-rounded" src="{{ match.championLink }}">
                                                </div>
                                            </div>
                                            <div class="column">
                                                <div>
                                                    <img class="image is-24x24" src="{{ match.spell1Link }}">
                                                </div>
                                                <div>
                                                    <img class="image is-24x24" src="{{ match.spell2Link }}">
                                                </div>
                                            </div>
                                            <div class="column">
                                                <div>
                                                    <img class="image is-24x24" src="{{ match.keystoneLink }}">
                                                </div>
                                                <div>
                                                    <img class="image is-24x24" src="{{ match.keystone2Link }}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="content is-small has-text-centered">
                                            <b>
                                            {{ match.championName }}
                                            </b>
                                        </div>
                                    </div>
                                    <!-- /col champ pic sums keystones-->
                                    <!-- KDA -->
                                    <div class="column is-4">
                                        <div class="content is-small has-text-centered">
                                            <b>{{ match.kills }} / {{ match.deaths }} / {{ match.assists }}</b>
                                            <br>
                                            <b>KDA: {{ match.kda }}</b>
                                            <br>
                                            {{ match.firstBlood }}
                                            <br>
                                            <b>{{ match.largestMultiKill }}</b>
                                            <br>
                                            {{ match.totalCS }} ({{ match.cspMin }}) CS
                                            <br>
                                            DPM: {{ match.dpm }}
                                        </div>
                                    </div>
                                    <!-- /KDA -->
                                </div>
                            </div>
                            <!-- /col 1-5-->
                            <!-- col 7-12 -->
                            <div class="column is-7">
                                <div class="columns">
                                    <!-- Level, CS, Killpart, game MMR-->
                                    <div class="column is-2">
                                        <div class="content is-small has-text-centered">
                                            Level {{ match.champLevel }}
                                            <br>
                                            KP: {{ match.killPart }}
                                            <br>
                                            Dmg %: {{ match.dmgPart }}
                                            <br>
                                            Gold %: {{ match.goldEarnedPart }}
                                            <br>
                                            FWD: {{ match.fwd }}
                                            <br>
                                            Turret Dmg %: {{ match.turretDmgPart }}
                                        </div>
                                    </div>
                                    <!-- /Level, CS, Killpart, game MMR-->
                                    <!-- Items, Wards -->
                                    <div class="column is-3">
                                        <div class="columns is-multiline is-gapless">
                                            <div class="column is-3">
                                                <div class="items">
                                                    <img class="image is-24x24" src="{{ match.item0Link }}" onerror="this.src ='{% static 'images/placeholder.png' %}'">
                                                </div>
                                            </div>
                                            <div class="column is-3">
                                                <div class="items">
                                                    <img class="image is-24x24" src="{{ match.item1Link }} " alt="{% static 'images/placeholder.png' %}">
                                                </div>
                                            </div>
                                            <div class="column is-3">
                                                <div>
                                                    <img class="image is-24x24" src="{{ match.item2Link }}" alt="{% static 'images/placeholder.png' %}">
                                                </div>
                                            </div>
                                            <div class="column is-3">
                                                <div>
                                                    <img class="image is-24x24" src="{{ match.item6Link }}" alt="{% static 'images/placeholder.png' %}">
                                                </div>
                                            </div>
                                            <div class="column is-3">
                                                <div>
                                                    <img class="image is-24x24" src="{{ match.item3Link }}" alt="{% static 'images/placeholder.png' %}">
                                                </div>
                                            </div>
                                            <div class="column is-3">
                                                <div>
                                                    <img class="image is-24x24" src="{{ match.item4Link }}" alt="{% static 'images/placeholder.png' %}">
                                                </div>
                                            </div>
                                            <div class="column is-3">
                                                <div>
                                                    <img class="image is-24x24" src="{{ match.item5Link }}" alt="{% static 'images/placeholder.png' %}">
                                                </div>
                                            </div>
                                            <div class="column is-3">
                                                <div class="icon is-24x24">
                                                    <i class="fas fa-coins"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Items, Wards -->
                                    <!-- Team 1 -->
                                    <div class="column is-3">
                                        <article class="post">
                                            <p class="is-tiny has-text-centered">
                                                <b>{{ match.team1Kills }} / {{ match.team1Deaths }} / {{ match.team1Assists }}</b>
                                            </p>
                                            <div class="media">
                                                <div class="media-left">
                                                    <p class="image is-24x24">
                                                        <img src="{{ match.champLink_1 }}" alt="{{match.matchDetailInfo.participants.0.championId}}">
                                                    </p>
                                                </div>
                                                <div class="media-content">
                                                    <div class="content is-small">
                                                        <p class="crop">
                                                            <a href="../player/?q={{ match.matchDetailInfo.participantIdentities.0.player.summonerName }}" class="Link">
                                                                {{ match.matchDetailInfo.participantIdentities.0.player.summonerName }}
                                                            </a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="post">
                                            <div class="media">
                                                <div class="media-left">
                                                    <p class="image is-24x24">
                                                        <img src="{{ match.champLink_2 }}" alt="{{match.matchDetailInfo.participants.1.championId}}">
                                                    </p>
                                                </div>
                                                <div class="media-content">
                                                    <div class="content is-small">
                                                        <p class="crop">
                                                            <a href="../player/?q={{ match.matchDetailInfo.participantIdentities.1.player.summonerName }}">
                                                                {{ match.matchDetailInfo.participantIdentities.1.player.summonerName }}
                                                            </a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="post">
                                            <div class="media">
                                                <div class="media-left">
                                                    <p class="image is-24x24">
                                                        <img src="{{ match.champLink_3 }}" alt="{{match.matchDetailInfo.participants.2.championId}}">
                                                    </p>
                                                </div>
                                                <div class="media-content">
                                                    <div class="content is-small">
                                                        <p class="crop">
                                                            <a href="../player/?q={{ match.matchDetailInfo.participantIdentities.2.player.summonerName }}">
                                                                {{ match.matchDetailInfo.participantIdentities.2.player.summonerName }}
                                                            </a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="post">
                                            <div class="media">
                                                <div class="media-left">
                                                    <p class="image is-24x24">
                                                        <img src="{{ match.champLink_4 }}" alt="{{match.matchDetailInfo.participants.3.championId}}">
                                                    </p>
                                                </div>
                                                <div class="media-content">
                                                    <div class="content is-small">
                                                        <p class="crop">
                                                            <a href="../player/?q={{ match.matchDetailInfo.participantIdentities.3.player.summonerName }}">
                                                                {{ match.matchDetailInfo.participantIdentities.3.player.summonerName }}
                                                            </a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="post">
                                            <div class="media">
                                                <div class="media-left">
                                                    <p class="image is-24x24">
                                                        <img src="{{ match.champLink_5 }}" alt="{{match.matchDetailInfo.participants.4.championId}}">
                                                    </p>
                                                </div>
                                                <div class="media-content">
                                                    <div class="content is-small">
                                                        <p class="crop">
                                                            <a href="../player/?q={{ match.matchDetailInfo.participantIdentities.4.player.summonerName }}">
                                                                {{ match.matchDetailInfo.participantIdentities.4.player.summonerName }}
                                                            </a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <!-- /Team 1 -->
                                    <!-- Team 2-->
                                    <div class="column is-3">
                                        <article class="post">
                                            <p class="is-tiny has-text-centered">
                                                <b>{{ match.team2Kills }} / {{ match.team2Deaths }} / {{ match.team2Assists }}</b>
                                            </p>
                                            <div class="media">
                                                <div class="media-left">
                                                    <p class="image is-24x24">
                                                        <img src="{{ match.champLink_6 }}" alt="{{match.matchDetailInfo.participants.5.championId}}">
                                                    </p>
                                                </div>
                                                <div class="media-content">
                                                    <div class="content is-small">
                                                        <p class="crop">
                                                            <a href="../player/?q={{ match.matchDetailInfo.participantIdentities.5.player.summonerName }}">
                                                                {{ match.matchDetailInfo.participantIdentities.5.player.summonerName }}
                                                            </a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="post">
                                            <div class="media">
                                                <div class="media-left">
                                                    <p class="image is-24x24">
                                                        <img src="{{ match.champLink_7 }}" alt="{{match.matchDetailInfo.participants.6.championId}}">
                                                    </p>
                                                </div>
                                                <div class="media-content">
                                                    <div class="content is-small">
                                                        <p class="crop">
                                                            <a href="../player/?q={{ match.matchDetailInfo.participantIdentities.6.player.summonerName }}">
                                                                {{ match.matchDetailInfo.participantIdentities.6.player.summonerName }}
                                                            </a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="post">
                                            <div class="media">
                                                <div class="media-left">
                                                    <p class="image is-24x24">
                                                        <img src="{{ match.champLink_8 }}" alt="{{match.matchDetailInfo.participants.7.championId}}">
                                                    </p>
                                                </div>
                                                <div class="media-content">
                                                    <div class="content is-small">
                                                        <p class="crop">
                                                            <a href="../player/?q={{ match.matchDetailInfo.participantIdentities.7.player.summonerName }}">
                                                                {{ match.matchDetailInfo.participantIdentities.7.player.summonerName }}
                                                            </a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="post">
                                            <div class="media">
                                                <div class="media-left">
                                                    <p class="image is-24x24">
                                                        <img src="{{ match.champLink_9 }}" alt="{{match.matchDetailInfo.participants.8.championId}}">
                                                    </p>
                                                </div>
                                                <div class="media-content">
                                                    <div class="content is-small">
                                                        <p class="crop">
                                                            <a href="../player/?q={{ match.matchDetailInfo.participantIdentities.8.player.summonerName }}">
                                                                {{ match.matchDetailInfo.participantIdentities.8.player.summonerName }}
                                                            </a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="post">
                                            <div class="media">
                                                <div class="media-left">
                                                    <p class="image is-24x24">
                                                        <img src="{{ match.champLink_10 }}" alt="{{match.matchDetailInfo.participants.9.championId}}">
                                                    </p>
                                                </div>
                                                <div class="media-content">
                                                    <div class="content is-small">
                                                        <p class="crop">
                                                            <a href="../player/?q={{ match.matchDetailInfo.participantIdentities.9.player.summonerName }}">
                                                                {{ match.matchDetailInfo.participantIdentities.9.player.summonerName }}
                                                            </a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>

                                    </div>
                                    <!-- /Team 2-->
                                    <!-- Dropdown Menu -->
                                    <div class="column is-1">

                                    </div>
                                    <!-- /Dropdown Menu -->
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- /for loop box -->

                    <!-- box -->
                    <div class="box">
                        <h4 id="let" class="title is-3">let</h4>
                        <article class="message is-primary">
                        <span class="icon has-text-primary">
                            <i class="fas fa-info-circle"></i>
                        </span>
                            <div class="message-body">
                                {{ responseMatchList }}
                            </div>
                        </article>
                        <pre><code class="language-javascript">let i = 0;</code></pre>
                    </div>
                    <!-- /box-->


                    <h3 class="title is-3">More to Come...</h3>
                    <div class="box">
                        <h4 id="lorem" class="title is-4">More to come...</h4>
                        <article class="message is-primary">
                            <span class="icon has-text-primary">
                                <i class="fas fa-info-circle"></i>
                            </span>
                            <div class="message-body">
                                {{ sumName }}
                            </div>
                        </article>
                        <pre><code class="language-javascript">let i = 0;</code></pre>
                    </div>
                    <!-- /box -->


                </div>
            </div>
            <!-- /Match History -->

        </div>
    </div>
</section>
<!-- /.section -->

<!-- .footer -->
<footer class="footer">
    <section class="section">
        <div class="container">
            <div class="columns is-multiline">
                <div class="column is-one-third">
                    <article class="notification media has-background-white">
                        <figure class="media-left">
            <span class="icon">
              <i class="has-text-warning fas fa-columns fa-lg"></i>
            </span>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <h1 class="title is-size-4">Columns</h1>
                                <p class="is-size-5 subtitle">
                                    The power of <strong>Flexbox</strong> in a simple interface
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="column is-one-third">
                    <article class="notification has-background-white media">
                        <figure class="media-left">
            <span class="icon has-text-info">
              <i class="fab fa-lg fa-wpforms"></i>
            </span>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <h1 class="title is-size-4">Form</h1>
                                <p class="is-size-5 subtitle">
                                    The indispensable <strong>form controls</strong>, designed for maximum clarity
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="column is-one-third">
                    <article class="notification has-background-white media">
                        <figure class="media-left">
            <span class="icon has-text-danger">
              <i class="fas fa-lg fa-cubes"></i>
            </span>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <h1 class="title is-size-4">Components</h1>
                                <p class="is-size-5 subtitle">
                                    Advanced multi-part components with lots of possibilities
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="column is-one-third">
                    <article class="notification has-background-white media">
                        <figure class="media-left">
            <span class="icon has-text-grey">
              <i class="fas fa-lg fa-cogs"></i>
            </span>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <h1 class="title is-size-4">Modifiers</h1>
                                <p class="is-size-5 subtitle">
                                    An <strong>easy-to-read</strong> naming system designed for humans
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="column is-one-third">
                    <article class="notification has-background-white media">
                        <figure class="media-left">
            <span class="icon has-text-primary">
              <i class="fas fa-lg fa-warehouse"></i>
            </span>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <h1 class="title is-size-4">Layout</h1>
                                <p class="is-size-5 subtitle">
                                    Design the <strong>structure</strong> of your webpage with these CSS classes
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="column is-one-third">
                    <article class="notification has-background-white media">
                        <figure class="media-left">
            <span class="icon has-text-danger">
              <i class="fas fa-lg fa-cube"></i>
            </span>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <h1 class="title is-size-4">Elements</h1>
                                <p class="is-size-5 subtitle">
                                    Essential interface elements that only require a <strong>single CSS class</strong>
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <hr>
    <div class="columns is-mobile is-centered">
        <div class="field is-grouped is-grouped-multiline">
            <!--<div class="control">
                <div class="tags has-addons"><a class="tag is-link"
                                                href="https://github.com/BulmaTemplates/bulma-templates">Bulma
                    Templates</a>
                    <span class="tag is-info">MIT license</span>
                </div>
            </div>
            <div class="control">
                <div class="tags has-addons">
                    <span class="tag is-dark">based on a pen</span>
                    <span class="tag has-addons is-warning"><a href="https://codepen.io/melanieseltzer/pen/odOXWM"><i
                            class="fab fa-lg fa-codepen"></i></a></span>
                </div>
            </div>-->
            <div class="container has-text-centered">
            © 2020-2020 GoPro.GG. GoPro.GG isn’t endorsed by Riot Games and doesn’t reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.
            </div>
        </div>
    </div>

</footer>
<script src='https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/prism.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/js/OverlayScrollbars.min.js'></script>

<script>
  window.addEventListener('resize', () => {
  const divs = document.querySelectorAll(".menu-list");
  if (window.innerWidth < 768){
    divs.forEach(div => div.classList.add("tags"));
  }
  else {
    divs.forEach(div => div.classList.remove("tags"));
  }
});

  document.addEventListener("DOMContentLoaded", function() {
	//The first argument are the elements to which the plugin shall be initialized
	//The second argument has to be at least a empty object or a object with your desired options
	OverlayScrollbars(document.querySelectorAll("body"), { });
});


</script>
</body>
</html>